<div class="container">
  <div class='jumbotron printer-energy-container'>
    <div class="row img-printer">
      <div class="col-md-3 col-sm-3 col-xs-3 printer-img-div">
        <img src="<%= image_path 'printer.png' %>" class="img-responsive printer-img" >
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <h3 class="h3-label-dtf">Printer Data Flow</h3>
        <p class="para-consm">Printer's power consumption vs time graph</p>
        <p>
          View One |
          <a href="<%= energy_googleGraph_printer_path %>"> View Two </a> |
          <a href="<%= energy_printer_prediction_path %>"> View Three </a> |
          <a href="<%= energy_printer_prediction_static_ten_seconds_path %>"> View Four </a>
        </p>
      </div>
    </div>
		<div class="row">
      <div class="col-md-12 on-the-fly">
        Power Consumption on the FLY:
      </div>
      <div class="col-md-12">
        <div class="col-md-12 printer-status-label">
          Printer Status:
          <% Status::PRINTER_STATUS.each do |item| %>

            <%= item[1] + " = " +  item[0] unless (item[0] == "NoState" || item[0] == "Kartusche bald leer") %>
            <%= "|" unless ("NoState" "Kartusche bald leer" "Alarm").include?(item[0]) %>
          <% end %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 printer-status-label">
          Cluster:
          <% EnergyClass::COLOR_CODES.each do |key, value| %>
            <% next if ("cluster_8" "cluster_7").include?(key) %>
            <div class="legend-circle" style="background-color: <%= value %>;"></div>= <%= key %>
            <%= "," unless key == "cluster_6" %>
          <% end %>
        </div>
      </div>
			<div class="col-md-12 printer-graph">
			</div>
      <div class="col-md-12">
        <div class="form-group">
          <div class="consumption-from"> Power Consumption On: </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-4 custom-st-dt">
        <div class="form-group dt-custom-form-group">
            <div class='input-group date' id='st-date'>
                <input type='text' class="form-control" id="consumption_date" placeholder="pick a date" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-3 custom-hour">
        <div class="form-group sl-custom-form-group">
          <select class="form-control" id="select-hour" >
            <option value="01:00:00">1st Hour</option>
            <option value="02:00:00">2nd Hour</option>
            <option value="03:00:00">3rd Hour</option>
            <option value="04:00:00">4th Hour</option>
            <option value="05:00:00">5th Hour</option>
            <option value="06:00:00">6th Hour</option>
            <option value="07:00:00">7th Hour</option>
            <option value="08:00:00">8th Hour</option>
            <option value="09:00:00">9th Hour</option>
            <option value="10:00:00">10th Hour</option>
            <option value="11:00:00">11th Hour</option>
            <option value="12:00:00">12th Hour</option>
            <option value="13:00:00">13th Hour</option>
            <option value="14:00:00">14th Hour</option>
            <option value="15:00:00">15th Hour</option>
            <option value="16:00:00">16th Hour</option>
            <option value="17:00:00">17th Hour</option>
            <option value="18:00:00">18th Hour</option>
            <option value="19:00:00">19th Hour</option>
            <option value="20:00:00">20th Hour</option>
            <option value="21:00:00">21th Hour</option>
            <option value="22:00:00">22th Hour</option>
            <option value="23:00:00">23th Hour</option>
            <option value="24:00:00">24th Hour</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-5 custom-ld">
        <div class="form-group ld-custom-form-group">
          <a href="javascript:void(0)" class="btn btn-raised btn-info custom-btn-info" id="load-printer-date-data" >Load</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-info custom-btn-info" id="load-printer-date-data-loader" >
            Loading
            <img src="<%= image_path 'rolling.gif' %>" class="img-responsive rolling-img" >
          </a>
        </div>
      </div>
      <div class="col-md-12 show-printer-status">
        <div class="col-md-12 printer-status-label">
          Printer Status:
          <% Status::PRINTER_STATUS.each do |item| %>

          <%= item[1] + " = " +  item[0] unless (item[0] == "NoState" || item[0] == "Kartusche bald leer") %>
          <%= "|" unless ("NoState" "Kartusche bald leer" "Alarm").include?(item[0]) %>
          <% end %>
        </div>
        <div class="col-md-12 datewise-data-cluster-label">
          <div class="col-md-12 printer-status-label">
            Cluster:
            <% EnergyClass::COLOR_CODES.each do |key, value| %>
              <div class="legend-circle" style="background-color: <%= value %>;"></div>= <%= key %>
              <%= "," unless key == "cluster_8" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 printer-graph-static"></div>
		</div>
	</div>
</div>
