<div class="container">
  <div class='jumbotron printer-energy-container'>
    <div class="row img-printer">
      <div class="col-md-3 col-sm-3 col-xs-3 printer-img-div">
        <img src="<%= image_path 'printer.png' %>" class="img-responsive printer-img" >
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <h3 class="h3-label-dtf">Printer Data Flow</h3>
        <p class="para-consm">Printer's power consumption vs time graph</p>
        <p>
          <a href="<%= energy_printer_path %>"> View One </a> |
          <a href="<%= energy_googleGraph_printer_path %>"> View Two </a> |
          View Three
        </p>
      </div>
    </div>
		<div class="row">
      <div class="col-md-12 on-the-fly">
        Actual Power Consumption VS Predicted Power Consumption:
      </div>
      <div class="col-md-12">
        <div class="col-md-12 printer-status-label">
          Printer Status:
          <% Status::PRINTER_STATUS.each do |item| %>

            <%= item[1] + " = " +  item[0] unless (item[0] == "NoState" || item[0] == "Kartusche bald leer") %>
            <%= "|" unless ("NoState" "Kartusche bald leer" "Alarm").include?(item[0]) %>
          <% end %>
        </div>
      </div>
			<div class="col-md-12 printer-graph">
			</div>
		</div>
	</div>
</div>
